*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 1;
  background-image: url(images/bg1.png) 
  
  
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

/* Header */
.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* background: rgba(38,31,49,255); */
  z-index: 1;
  /* background-image: url(images/a.jpg); */
}

.header img {
  position: absolute;
  right: 5%;
  bottom: 0;
  width: 60rem;
  z-index: -1;
}

@media only screen and (max-width: 996px) {
  .header {
    min-height: 60vh;
  }

  .header img {
    width: 50rem;
  }
}

@media only screen and (max-width: 768px) {
  .header img {
    width: 40rem;
  }
}

@media only screen and (max-width: 567px) {
  .header {
    min-height: 100vh;
  }

  .header img {
    width: 35rem;
  }
}

.nav {
  padding: 1.6rem 0;
}

.nav.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #dd9a05;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-size: 2.5rem;
  color: #fff;
}

.logo h1 span {
  font-weight: bold;
  color: #dd9a05;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

.nav-link:hover {
  border-radius: 0.3rem;
  background-color: #0a4397;
}

.top-nav {
  display: none;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 40rem;
    height: 100%;
    background-color: #fff;
    transition: all 500ms ease-in-out;
    z-index: 100;
  }

  .menu.show {
    left: 0;
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dd9a05;
    padding: 1rem 1.6rem;
  }

  .top-nav .logo span {
    color: #fff;
  }

  .top-nav .close {
    color: #fff;
    font-size: 2.3rem;
    padding: 1rem;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    color: #fff;
    font-size: 2.3rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 1.7rem;
    color: #222;
    padding: 1rem 0;
  }

  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }

  body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38,31,49,255);
    z-index: 1;
  }

  .nav.show {
    background-color: rgba(38,31,49,255);
  }
}
a{
    text-decoration: none;
    color: #fff;
}
footer {
    background-color: rgba(38,31,49,255);
    padding: 1.6rem 1rem;
    text-align: center;
  }
  
  footer p {
    color: #fff;
  }
  
  footer p span {
    color: #dd9a05;
  }
 